.header {
	height: 100vh;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
		url('../../public/images/pizza-background.jpg');
	background-size: cover;
	background-position: center;

	.content {
		width: 100%;
		max-height: 100%;
		height: calc(100vh - 80px);
		padding: 0 calc((100vw - 1300px) / 2);

		.descriptions {
			width: 650px;
			display: flex;
			height: 100vh;
			color: #fff;
			line-height: 1;
			padding: 0 2rem;
			max-height: 100%;
			font-weight: bold;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			text-transform: uppercase;

			@media screen and (max-width: 650px) {
				width: 100%;
			}

			h1 {
				margin-bottom: 1rem;
				letter-spacing: 3px;
				box-shadow: 3px 5px #e9ba23;
				font-size: clamp(2.5rem, 10vw, 5rem);
			}

			p {
				margin-bottom: 2rem;
				font-size: clamp(2rem, 2.5vw, 3rem);
			}

			button {
				border: none;
				color: #fff;
				font-size: 1.4rem;
				padding: 1rem 4rem;
				background: #e31837;
				transition: 0.2s ease-out;

				&:hover {
					color: #000;
					cursor: pointer;
					background: #ffc500;
					transition: 0.2 ease-out;
				}
			}
		}
	}
}
