.sidebar {
	top: 0;
	z-index: 1;
	width: 350px;
	height: 100%;
	display: grid;
	position: fixed;
	align-items: center;
	background-color: #ffc500;
	transition: 0.3s ease-in-out;

	@media screen and (max-width: 400px) {
		width: 100%;
	}

	.closeIcon {
		color: #000;
		.icon {
			top: 1.2rem;
			outline: none;
			right: 1.5rem;
			cursor: pointer;
			font-size: 2rem;
			position: absolute;
			border: transparent;
			background: transparent;
		}
	}

	.menu {
		display: grid;
		text-align: center;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 80px);

		@media screen and (max-width: 480px) {
			grid-template-rows: repeat(3, 60px);
		}

		.link {
			display: flex;
			color: #000;
			cursor: pointer;
			list-style: none;
			font-size: 1.5rem;
			align-items: center;
			text-decoration: none;
			justify-content: center;
			transition: 0.2s ease-in-out;

			&:hover {
				color: #e31837;
				transition: 0.2s ease-in-out;
			}
		}
	}

	.btnContainer {
		display: flex;
		justify-content: center;

		.btnOrder {
			border: none;
			color: #fff;
			font-size: 16px;
			cursor: pointer;
			padding: 16px 64px;
			white-space: nowrap;
			text-decoration: none;
			background-color: #e31837;
			transition: 0.2s ease-in-out;

			&:hover {
				color: #010606;
				background-color: #fff;
				transition: 0.2s ease-in-out;
			}
		}
	}
}
