.productsContainer {
	width: 100%;
	min-height: 100vh;
	padding: 5rem calc((100vh - 1300px) / 2);
	background-color: #150f0f;
	color: #fff;

	.productHeading {
		font-size: clamp(2rem, 2.5vw, 3rem);
		text-align: center;
		margin-bottom: 5rem;
	}

	.productWrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}

	.productCard {
		margin: 0 2rem;
		line-height: 2;
		width: 300px;

		img {
			width: 100%;
			height: 300px;
			min-width: 300px;
			max-width: 100%;
			box-shadow: 8px 8px #fdc500;
		}

		.productInfo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			text-align: center;

			.title {
				font-weight: 400;
				font-size: 1.5rem;
			}

			.desc {
				margin-bottom: 1rem;
			}

			.price {
				margin-bottom: 1rem;
				font-size: 2rem;
			}

			.button {
				font-size: 1rem;
				padding: 1rem 4rem;
				border: none;
				background-color: #e31837;
				color: #fff;
				transition: 0.2 ease-out;

				&:hover {
					background-color: #ffc500;
					transition: 0.2s ease-out;
					cursor: pointer;
					color: #000;
				}
			}
		}
	}
}
