.navbar {
	height: 80px;
	display: flex;
	font-weight: 700;
	justify-content: center;
	background-color: transparent;

	.navLink {
		color: #fff;
		display: flex;
		cursor: pointer;
		font-size: 2rem;
		align-items: center;
		text-decoration: none;

		@media screen and (max-width: 400px) {
			top: 10px;
			left: 25px;
			position: absolute;
		}
	}

	.navIcon {
		top: 0;
		right: 0;
		color: #fff;
		display: block;
		cursor: pointer;
		position: absolute;
		p {
			font-weight: bold;
			transform: translate(-175%, 100%);
		}
	}

	.bars {
		font-size: 2rem;
		transform: translate(-50%, -15%);
	}
}
