.featureContainer {
	height: 100vh;
	display: flex;
	color: #fff;
	padding: 0 1rem;
	max-height: 500px;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
		url('../../public/images/featured.jpg');
	background-size: cover;
	background-position: center;

	h2 {
		font-size: clamp(3rem, 5vw, 5rem);
	}

	p {
		margin-bottom: 1rem;
		font-size: clamp(1rem, 3vw, 2rem);
	}

	button {
		border: none;
		color: #000;
		font-size: 1.4rem;
		padding: 0.6rem 3rem;
		transition: 0.2s ease-out;
		background-color: #ffc500;

		&:hover {
			color: #fff;
			cursor: pointer;
			transition: 0.2s ease-out;
			background-color: #e31837;
		}
	}
}
